﻿<div style="padding-left: 15px">
    <p style="font-family:sans-serif;font-size:16px !important;font-weight:normal;margin:0;margin-bottom:15px;">Dobr&yacute; den,</p>
    <p style="font-family:sans-serif;font-size:16px !important;font-weight:normal;margin:0;margin-bottom:15px;">na z&aacute;klad&#283; va&scaron;&iacute; &#382;&aacute;dosti v&aacute;m zas&iacute;l&aacute;me nov&#283; vygenerovan&eacute; heslo.</p>
    <p style="font-family:sans-serif;font-size:16px !important;font-weight:normal;margin:0;margin-bottom:15px;">Toto heslo si m&#367;&#382;ete zm&#283;nit na va&scaron;em <a href="https://horse.cz/my_profile" style="color:#3498db;text-decoration:underline;font-size:16px !important;">profilu</a>.</p>
</div>
<div style="margin-bottom: 10px; padding: 10px 15px; border:1px solid #e6e6f1; background: #f6f6f6;border-radius: 5px">
    <p style="font-family:sans-serif;font-size:16px !important;font-weight:normal;margin:10px 0;"><span style="color:#666666">Nov&#283; vygenerovan&eacute; heslo:</span> <b>{password}</b></p>
</div>
