﻿<div style="padding-left: 15px">
    <p style="font-family:sans-serif;font-size:16px !important;font-weight:normal;margin:0;margin-bottom:15px;">Dobr&yacute; den,</p>
    <p style="font-family:sans-serif;font-size:16px !important;font-weight:normal;margin:0;margin-bottom:15px;">úspě&scaron;ně jste se zaregistroval do syst&eacute;mu Horse.</p>
</div>
<h2 style="color:#2c2d51;font-weight:normal;margin:25px 0 0;padding:0 0 5px 15px;font-size:18px">Registra&#269;n&iacute; &uacute;daje</h2>
<div style="margin-bottom: 10px; padding: 10px 15px; border:1px solid #e6e6f1; background: #f6f6f6;border-radius: 5px">
    <p style="font-family:sans-serif;font-size:16px !important;font-weight:normal;margin:0;"><span style="color:#666666">P&#345;ihla&scaron;ovac&iacute; jm&eacute;no:</span> <b>{username}</b> </p>
    <p style="font-family:sans-serif;font-size:16px !important;font-weight:normal;margin:10px 0;"><span style="color:#666666">Jm&eacute;no:</span> {name}</p>
    <p style="font-family:sans-serif;font-size:16px !important;font-weight:normal;margin:0;"><span style="color:#666666">P&#345;&iacute;jmen&iacute;:</span> {surname}</p>
    <a href="{activateLink}" style="display: block; padding: 14px 0; text-align: center; width: 250px;
                                            background: #12133d; color: white; border-radius: 3px;text-decoration: none; margin: 20px auto 10px">
        Aktivovat účet
    </a>
</div>
